<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <app-cokpit
    (ServerAdd)="AddServer($event)"
    (BlueprintAdd)="AddBlueprint($event)"
  ></app-cokpit>
  <hr>
  <div class="row">
    <div class="col-sm-12">
      <!--<h3>{{title}}</h3>-->
      <!--02 The Basics <app-servers></app-servers>-->
      <app-server-element
        *ngFor="let element of serverElements"
        [srvElement]="element"></app-server-element>
      <!--<app-login></app-login>-->
    </div>
  </div>
</div>
<!-- 07
<div *appUnless="onlyOdd">
    <li
       class="list-group-item"
       [ngClass]="{odd: even % 2 !== 0}"
       [ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}"
       *ngFor="let even of evenNumbers">
       {{ even }}
    </li>
</div>
-->
<!-- 07
<p [appBetterHighlight]="'red'" defaultColor="yellow">Style me with a better directive!</p>
<div [ngSwitch]="value">
  <p *ngSwitchCase="5">Value is 5</p>
  <p *ngSwitchCase="10">Value is 10</p>
  <p *ngSwitchCase="100">Value is 100</p>
  <p *ngSwitchDefault>Value is Default</p>
</div>
-->
<!--07 <p [appMyDirection]="red" [defaultColor]="green">hello</p>-->

<router-outlet></router-outlet>
